
@tailwind base;
@tailwind components;
@tailwind utilities;

.unfix-ios-bg {
  @supports (-webkit-touch-callout: none) {
    background-attachment: initial !important;
  }
}

@font-face {
  font-family: "Keep Calm";
  src: url("./assets/fonts/KeepCalm-Medium.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
  }
}

.animate-fade-in {
  opacity: 1;
  visibility: visible;
  animation: fadeIn 1s ease-in-out;
}

.animate-fade-out {
  opacity: 1;
  visibility: visible;
  animation: fadeOut 1s ease-in-out;
}

.colortop-bottom {
  background: linear-gradient(to bottom, #40A7BB, #03618C);
}

.colorbottom-top {
  background: linear-gradient(to bottom, #03618C, #40A7BB);
}

